

<div class="us-cover"></div>
<div class="us-info-w">

    <div class="us-avatar">
        <div class="us-ava">
            <img class="img" src="<%= user.avatarUrl %>!180x180"/>
            <% if(isSelf){ %>
                <a href="<%= G.linkUrl %>user/<%= user._id %>/avatar" class="a-ava u-btn u-b-white u-b-mini">avatar</a>
            <% } %>
        </div>


    </div>
    <div class="us-info">
        <h1><%= user.name %></h1>
    </div>
</div>

<%
var t = G.url.parse(G.req.url).pathname.split('/'), cls = 'us-mu-n';
var d = t[t.length - 1];

function getCls(s){
    return s == d ? cls : '';
}
%>
<div class="us-nav">
    <ul>

        <li class="f"><a class="us-mu <%= getCls(user._id) %>" href="/user/<%= user._id %>">å°é¢</a></li>


    </ul>
</div>