<!DOCTYPE html>
<html>
<head>
    <% include ./inc/inc.head.ejs %>
    <style>
        .m-detail{position: relative;height: 560px;}
        .m-detail .main{position:absolute;top: 30px;left:0;width: 910px;}
        .m-detail .side{position:absolute;top: 0px;right:0;width: 270px;height: 100%;border: 1px solid #dddddd;background-color: #f2f2f2;}
        .m-detail .dir{position: absolute;top:0;left:0;}
        .m-detail-show{float: left;width: 435px;height: 500px;background: blue;}
        .m-detail-img{width:400px;padding: 10px;border:#ddd 1px solid}
        .m-detail-img img{height: 400px;width: 400px;}

        .m-detail-main{height: 500px;width:470px;background: red;float: left;}

        .m-detail-per-hd{height: 40px;line-height:40px;font-size: 18px;padding-left: 20px;}
        .m-detail-per-bd{height: 510px;padding: 0 10px 9px;}

        .m-detail-list img{float: left;width: 100%;}
    </style>
</head>
<body>
<% include ./mod/mod.head.ejs %>
<div class="g-bd g-wp">
    <div class="m-detail">
        <div class="dir"><a href="http://1.163.com">首页</a> &gt; <a href="http://1.163.com/list/1-0-1-1.html">手机平板</a> &gt; <span class="txt-red">商品详情 [期号：211282612]</span></div>
        <div class="main">
            <div class="m-detail-show">
                <div class="m-detail-img"><img src="<%= detail.cover[0] %>" /></div>
                <div class="m-detail-img-list"></div>

            </div>
            <div class="m-detail-main"></div>
        </div>
        <div class="side">
            <div class="m-detail-per-hd">开奖信息</div>
            <div class="m-detail-per-bd"></div>
        </div>

    </div>
    <div class="m-detail-list">
        <% _.each(detail.detail, function(img){%>
            <img src="<%= img %>" />
        <% }) %>
    </div>
    <%= detail.name %>
    <%= detail.price_now %>/<%= detail.price %>
    <form action="/api/luck" method="post" class="j-form">
        <div class="u-as j-as">
            <button type="button" class="u-btn u-b-white sub j-as-btn" data-v="-1">-</button><input type="text" value="1" name="num" id="num"/><button type="button" class="u-btn u-b-white add j-as-btn" data-v="1">+</button>
        </div>

        <button type="submit" class="u-btn u-b-white" id="sub" data-id="<%= detail._id %>">提交</button>
    </form>

</div>

<% include ./mod/mod.foot.ejs %>
<% include ./inc/inc.foot.ejs %>
<script>
    require(['page/baby'], function(page){
        page.init({
            id: '<%= detail._id %>'
        });
    })
</script>
</body>
</html>