<!DOCTYPE html>
<html>
<head>
    <% include ./inc/inc.head.ejs %>
    <style>

    </style>
</head>
<body>
<% include ./mod/mod.head.ejs %>
<% _.each(list, function(o){ %>
    season=<%= o.season %>
    <%= o.name %>
    <%= o.price_now %>/<%= o.price %>
    <a class="j-luck" data-url="/api/luck?id=<%= o._id %>&num=1" href="javascript://">link</a>
<% }) %>

<% include ./mod/mod.foot.ejs %>
<% include ./inc/inc.foot.ejs %>
</body>
</head>