<!DOCTYPE html>
<html>
<head>
    <% include ./inc/inc.head.ejs %>
    <style>

    </style>
</head>
<body>
<% include ./mod/mod.head.ejs %>
<div class="g-bd g-wp">
    <% _.each(list, function(o){ %>
        season=<%= o.season %>
        <a href="/baby/<%= o._id %>" target="_blank"><%= o.name %></a>
        <%= o.price_now %>/<%= o.price %>
        <a class="j-luck" data-url="/api/luck?id=<%= o._id %>&num=1" href="javascript://">link</a>
    <% }) %>
</div>
<% include ./mod/mod.foot.ejs %>
<% include ./inc/inc.foot.ejs %>
</body>
</html>